version: 2.1

orbs:
  node: circleci/node@5.0.2
  aws-s3: circleci/aws-s3@3.0.0

jobs:
  test-unit:
    docker:
      # Primary container image where all commands run
      - image: cimg/node:16.14.1

    resource_class: large

    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn

      - run:
          name: Run unit & endpoint tests
          command: yarn test

      - run:
          name: Build
          command: yarn build

  deployToDev:
    docker:
      # Primary container image where all commands run
      - image: cimg/node:16.14.1

    resource_class: large

    steps:
      - checkout      
      - node/install-packages:
          pkg-manager: yarn
      - run:
          name: Build
          command: yarn build

      - aws-s3/sync:
          aws-access-key-id: AWS_ACCESS_KEY_ID_DEV
          aws-region: AWS_DEFAULT_REGION
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY_DEV
          from: build/
          to: 's3://luju-bucket-1/develop/'
          arguments: |
            --cache-control "max-age=300"
  
workflows:
  BuildAndTestWorkflow:
    jobs:
      - test-unit

      # Deploy to development on develop branch merge
      - deployToDev:
          requires:
            - test-unit
          filters:
            branches:
              only:
                - circleci-project-setup
